.content {
    font-family: Helvetica, Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
   color:white;
    display: block !important
}

.content h2 {
    letter-spacing: 1em;
}
.content h4 {
    letter-spacing: .25em;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;


}

body {
    background-color: black;
    
}